.jumbotron{
    margin-top: 100px;
}



footer{
    position: fixed;
    background-color: #101010;
    color: #9d9d9d;
    width: 100%;
    padding: 10px 0;
    bottom: 0;
}

.camera{
    margin-bottom: 30px;
}